<section class="w-full min-h-[400px] gap-2 grid grid-cols-[1fr_3fr] mb-2">
    <div class="">
        <img src="<%= photos[0].url %>" alt="" class="w-full h-full object-cover bg-gray-300 rounded-xs hover:animate-pulse">
    </div>
    <div class="grid grid-rows-[1fr_2fr] gap-2">

        <div class="grid grid-cols-[1fr_2fr] gap-2">
            <img src="<%= photos[1].url %>" alt="" class="w-full h-full object-cover bg-gray-300 rounded-xs hover:animate-pulse">
            <img src="<%= photos[2].url %>" alt="" class="w-full h-full object-cover bg-gray-300 rounded-xs hover:animate-pulse">
        </div>

        <div class="grid grid-cols-[2fr_1fr] gap-2">

            <div class="grid grid-rows-2 gap-2">
                <img src="<%= photos[3].url %>" alt="" class="w-full h-full object-cover bg-gray-300 rounded-xs hover:animate-pulse">
                <img src="<%= photos[4].url %>" alt="" class="w-full h-full object-cover bg-gray-300 rounded-xs hover:animate-pulse">
            </div>

            <img src="<%= photos[5].url %>" alt="" class="w-full h-full object-cover bg-gray-300 rounded-xs hover:animate-pulse">

        </div>

    </div>
</section>