<%- include('components/header'); -%>

  <div class="bg-slate-200 px-3 py-4 w-full rounded-lg mt-10">
    <p class="text-2xl font-medium">Welcome <span class="text-cyan-800"><%= user.fullname %></span>!</p>
    <p class="text-xl font-medium text-gray-800 bg-slate-50 px-3 py-4 mt-5 rounded-lg hover:bg-slate-300">Create a post</p>
    <div class="flex gap-x-5 w-full items-center">
      <p class="w-full text-xl font-medium text-gray-800 bg-slate-50 px-3 py-2 mt-5 rounded-lg duration-150 hover:bg-gray-300 active:scale-95 text-center">Image</p>
      <p class="w-full text-xl font-medium text-gray-800 bg-slate-50 px-3 py-2 mt-5 rounded-lg duration-150 hover:bg-gray-300 active:scale-95 text-center">Video</p>
      <p class="w-full text-xl font-medium text-gray-800 bg-slate-50 px-3 py-2 mt-5 rounded-lg duration-150 hover:bg-gray-300 active:scale-95 text-center">Poll</p>
    </div>
  </div>

  <section class="mt-4 my-2">
    <%- include('components/post', {id: 1, images: ['https://picsum.photos/1200', 'https://picsum.photos/1222','https://picsum.photos/300']}) -%>
    <%- include('components/post', {id: 3, images: ['https://picsum.photos/1200', 'https://picsum.photos/1222', 'https://picsum.photos/600', 'https://picsum.photos/300']}) -%>
    <%- include('components/post', {id: 12, images: []}) -%>
    <%- include('components/post', {id: 132, images: ['https://picsum.photos/800']}) -%>
    <%- include('components/post', {id: 122, images: []}) -%>
  </section>

<%- include('components/footer') -%>