<%- include('components/header'); -%>

<div class="w-full h-auto md:h-[350px] lg:h-[350px] xl:h-[400px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[1fr_2fr] gap-x-2 py-5 items-center">
    <div class="overflow-hidden relative w-full min-h-[400px] md:h-full lg:h-full xl:h-full bg-gradient-to-tr from-blue-300 via-purple-700 to-emerald-500 rounded-lg">

        <p class="absolute bottom-0 left-0 bg-slate-300/60 w-full text-xl text-black font-medium font-mono py-3 px-4"><%= user.fullname %></p>
    </div>

    <div class="w-full h-full flex flex-col">
        <div class="bg-slate-200 w-full p-2 rounded-xl h-full">
            <p class="text-lg font-mono leading-10">[+] <%= user.username %></p>
            <p class="text-lg font-mono">[=] <%= user.email %></p>
        </div>
    </div>
</div>

<div class="flex justify-start gap-x-4 mt-10 py-2 bg-slate-200 px-3 rounded-xl">
    <a href="?posts" id="navigator-posts" type="button" class="px-2 w-full md:w-24 lg:w-32 duration-150 hover:bg-gray-400/50 py-2 font-medium text-xl rounded-lg text-cyan-600 active:scale-95">Posts</a>
    <a href="?photos" id="navigator-photos" type="button" class="px-2 w-full md:w-24 lg:w-32 duration-150 hover:bg-gray-400/50 py-2 font-medium text-xl rounded-lg text-cyan-600 active:scale-95">Photos</a>
</div>

<section class="my-2">
    <% if(posts){ %>
    <% posts.forEach(function(post){ %>
      <%- include('components/post', {post: post}); %>
    <% }); %>
    <% } else { %>
        <%- include('components/phototab', {photos: photos}) %>
        <%- include('components/phototab', {photos: photos}) %>
        <%- include('components/phototab', {photos: photos}) %>
        <%- include('components/phototab', {photos: photos}) %>
        <%- include('components/phototab', {photos: photos}) %>
        <%- include('components/phototab', {photos: photos}) %>
        <%- include('components/phototab', {photos: photos}) %>
    <% } %>
</section>

<script>
    const active_navigator = ' bg-cyan-600 active:border-neutral-50/0 text-gray-200';

    let tab = document.location.href.split('?')[1];
    if(tab == 'posts'){
        document.querySelector('#navigator-posts').className += active_navigator;
    }else{
        document.querySelector('#navigator-photos').className += active_navigator;
    };
</script>

<%- include('components/footer') -%>